<h1>Import Files</h1>
<div class="row">
  <div class="span6 offset3">
	<%= form_for @import_file, html: { multipart: true } do |f| %>
		<p>
			<%= f.label 'Import ur files here maaan' %>
		</p>
		<p>
			<%= f.file_field :filename %>
		</p>
		<%= f.submit 'Import Now' %>
	<% end %>
  </div>  
</div>
